{% extends "base.html" %}
{% block content %}

<!-- Content -->
	<section>
		<header class="main">
			<h1>밀폐공간(맨홀 등)</h1>
		</header>

		<span class="image main"><img src="{{ url_for('static', filename='assets/8.1.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/8.2.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/8.3.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/8.4.jpg') }}" alt="" /></span>

		<!-- <span class="image main"><img src="assets/8.2.jpg" alt="" /></span>
		<span class="image main"><img src="assets/8.3.jpg" alt="" /></span>
		<span class="image main"><img src="assets/8.4.jpg" alt="" /></span> -->

	</section>

{% endblock %}